/*
font-family: 'Lato', sans-serif;
Light green:#7ed56f
medium green: #55c57a
dark green: #28b485
dark violet:	rgb(55, 50, 82)
light violet: 	rgb(130, 97, 114)
dark sunny:#ff9954
light sunny:#ffe18e
dark rainy:#248aee
light rainy:#6ab7fd
clean sky:#c0557a
light clean:#c0557a

*/

*{
    padding:0;
    margin:0;

}
body{
    padding: 0 30px;

}

.header{
    background: linear-gradient(to bottom ,rgb(130, 97, 114),rgb(55, 50, 82));
    background-size: cover;
    height:100vh;
    position:relative;
    font-family: 'Lato', sans-serif;
}

.title span{
    position: absolute;
    top:7%;
    left:50%;
    transform: translateX(-50%);
    font-size: 45px;
    font-weight:400;
    letter-spacing: 14px;
    color:white;
}

.custom-input{
    position: absolute;
    top:23%;
    left:50%;
    transform: translateX(-50%);
    padding:0 51px;
}
.custom-button{
    background-color: #a4508b;
    background-image: linear-gradient(326deg, rgb(55, 50, 82) 0%,rgb(130, 97, 114) 74%);
}
.custom-cards{
    position: absolute;
    top:37%;
    left:50%;
    transform: translateX(-47%);

}
.card-title span{
    font-weight:400;
    font-size: 17px;
    color:white;
}
.card-degree span{
    font-weight:900;
    font-size: 54px;
    color: white;
}
.card-shadow{
    box-shadow: 11px 14px 15px -6px rgba(0,0,0,0.51);

}
.card-main-section{
    padding: 30px 15px;

}
.sunny{
    background: linear-gradient(to bottom , #ffe18e,#ff9954);
}
.rainy{
    background: linear-gradient(to bottom , #6ab7fd, #248aee);
}
.cloudy{

    background: linear-gradient(to bottom , #d05c7c,  #9c4474);
}
.card-temperature{
    position: relative;
}
.card-degree-condition{
    position:absolute;
    bottom:-1px;
    left:188px;
    color:white;
}
.card-sub-section{
    line-height: 21.1px;

}
.card-sub-section i{
    line-height: 1.8px;
    font-size: 27px;
}
.sub-sunny{
    color:#ff9954;
}
.sub-rainy{
    color:#248aee;
}
.sub-cloudy{
    color:#c0557a;
}



